html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* первичный цвет текста */
  --primary-text-color: #757575;
  /* первичный цвет заголовка */
  --primary-title-color: #212121;
  --accent-text-color: #2196f3;
  /* первичный цвет фона */
  --primary-background-color: #f5f5f5;
  /* вторичный цвет фона */
  --secondary-background-color: #f5f4fa;
  --white-color: #ffffff;
}
/* Стили для index.html  */
body {
  background-color: var(--white-color);
  font-family: 'Roboto';
  font-size: 14px;
  color: #212121;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  outline: 2px solid tomato;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* html + portfolio */
.nav {
  display: flex;
}
.logo-heder {
  color: #000000;
  text-decoration: none;

  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
}
/* html + portfolio */
.net {
  color: var(--accent-text-color);
}
/* html + portfolio */
.nav-site {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-site .list:not(:last-child) {
  margin-right: 50px;
}
/* html + portfolio */
.nav-site .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-title-color);
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;

  outline: 2px solid tomato;
}
.nav-site .link:hover,
.nav-site .link:focus {
  color: var(--accent-text-color);
}

.nav-site .link.current {
  color: var(--accent-text-color);
}

.contact {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact .list:not(:last-child) {
  margin-right: 40px;
}
.contact .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  dont-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  text-decoration: none;

  outline: 2px solid tomato;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-text-color);
}

.hero {
  height: 600px;
  background-color: #2f303a;
  text-align: center;
  outline: 2px solid tomato;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 200px;

  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.about-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  outline: 2px solid tomato;
}
.about-text {
  margin-top: 0;
  margin-bottom: 0;

  line-height: 1.71;
  color: var(--primary-text-color);

  outline: 2px solid tomato;
}

.section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-title-color);
}

.section-item:not(:last-child) {
  margin-bottom: 30px;
}
.team {
  background-color: var(--secondary-background-color);
}
.team-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-title-color);
}

.team-text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

.team-card {
  background-color: var(--white-color);
}

.team-card:not(:last-child) {
  margin-bottom: 30px;
}

/* html + portfolio */
.footer {
  height: 251px;
  background-color: #2f303a;
}

.logo-footer {
  color: var(--white-color);
  text-decoration: none;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address > ul {
  list-style: none;
}
.address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.footer-list {
  margin-top: 28px;
  margin-bottom: 60px;
}
.address .map {
  color: var(--white-color);
  text-decoration: none;
}
.address .link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.button {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

/* Стили для portfolio.html */

.filter {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  outline: 2px solid tomato;
}

.filter-list:not(:last-child) {
  margin-bottom: 8px;
}
.radio-button {
  color: var(--primary-title-color);
  background-color: var(--secondary-background-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  outline: 2px solid tomato;
}

.radio-button:hover,
.radio-button:focus {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}
.cursor {
  cursor: pointer;
}

.work {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  outline: 2px solid tomato;
}

.work-list {
  margin-bottom: 30px;
}

.work-title {
  margin-top: 20px;
  margin-bottom: 4px;
  color: var(--primary-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  outline: 2px solid tomato;
}

.work-link {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 16px;

  outline: 2px solid tomato;
}
